@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap');
*{
    border:0;
    padding:0;
    margin:0;
    outline:none;

}
html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x: hidden !important;
}
body{
    background: linear-gradient(to top, blaCK,aqua,black) !important;
    /* background: url(cms_login_background_1.jpg) !important;  */
}
#formid{
    /* border:2px solid white; */
    padding:60px 40px;
    margin-top:80px;
    background: rgba(0, 0, 0, 0.499) !important;
    box-shadow: 2px 2px 10px 10px black;
}
.cms-head{
    color:white;
    text-align: center;
    font-weight: bolder;
    margin-top: -20px;
}
.formpage{
    font-size: 20px;
    color: white;
    font-family: 'Mukta Malar', sans-serif;
}
.pagebutton{
    border:0.2vw solid white;
    background:transparent;
    color: white;
    border-radius: 0.5vw;
    width: 5vw;
    height: 2.5vw;
    font-size: 1.2vw;
    font-weight: bold;
    margin-top: 1vw;
    margin-right: 20vw;
    align-items: center;
}
.pagebutton:hover{
    width: 6vw;
    height: 3vw;
}
.formpswd{
    color: rgb(235, 82, 21);
    font-size:1vw;
}
.formpswd:hover{

    color: rgb(236, 138, 18);
    font-size:1.1vw;
}
.banner{
    position: relative;
    height: 4px;
    float: left;
    width: 100%;

}
.banner img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #image{
        /* height: 1vw; */
        width: 6vw;
        background-image: linear-gradient(to right top, #22cecb, #70d6bf, #9eddba, #c2e3be, #dfe9ca);
        padding: 1VW !important;
        text-align: center !important;
        align-items: center;
        font-size: 1.2vw;
        border-radius: 0.5vw;
        font-family: 'Arvo', serif;
       
       }
       #submit{
       font-size: 1.2vw; 
        border-radius: 1px;
        width: 5.5vw;
        height: 3vw;
        align-items: center;
        border-radius: 0.5vw;
        background-image: linear-gradient(to right top, #ec480d, #e18320, #d7ac51, #d4ce8c, #dfe9ca);
       }
       #captcha-id{
        font-size: 1.3vw;
        margin-left: 6vw;
        margin-top: -20vw;
        position: absolute;
        color: #c2e3be;
       }
       .logo{
        align-items: center !important;
        padding: 2vw;
        margin-left: 7.5vw;
        margin-top: -2vw;
       }
       #img1{
      
       width: 10vw;
       height: 10vw;
       }